importFrom(graphics, hist, plot)

importFrom(survival, Surv, coxph, coxph.fit, basehaz, coxph.control)

importFrom(stats, coefficients, fitted.values, residuals, weights, alias, 
	model.matrix, p.adjust, p.adjust.methods)

importFrom(annotate, lookUp)

importFrom(AnnotationDbi, Term, Secondary, as.list)

import(Biobase, methods)

exportClasses(mlogit, gt.object)

exportMethods("[", "[[", show, result, p.value, length, names, "names<-", 
	sort, size, hist, z.score, summary, residuals, 
	fitted.values, coefficients, alias, "alias<-", model.matrix, 
	weights, p.adjust, subsets, extract, sterms)

export(gt, mlogit,
	gtGO, combine, leafNodes, draw, gtKEGG, gtBroad, gtConcept,
	comparative, focusLevel, inheritance, covariates, features, subjects, 
	gt.options, findFocus, 
gtPS, gtKS, gtLI, bbase, btensor, reparamZ, reweighZ)
