importFrom(multtest, mt.rawp2adjp)

importFrom(graphics, hist, plot)

importFrom(survival, Surv, coxph, coxph.fit, basehaz, coxph.control)

importFrom(stats, coefficients, fitted.values, residuals, weights, alias, 
	model.matrix, p.adjust, p.adjust.methods)

importFrom(annotate, lookUp)

importFrom(AnnotationDbi, Term, Secondary, as.list)

import(Biobase, methods)

exportClasses(gt.result, gt.barplot, mlogit, gt.object, GOstructure)

exportMethods("[", "[[", show, result, p.value, length, names, "names<-", 
	sort, size, hist, z.score, scale, plot, fit, summary, residuals, 
	fitted.values, coefficients, genesets, alias, "alias<-", model.matrix, 
	weights, p.adjust, subsets)

export(globaltest, gt, permutations, sampling, geneplot, sampleplot, 
	regressionplot, checkerboard, gt.multtest, mlogit,
	gtGO, combine, leafNodes, draw, gtKEGG, gtBroad,
	comparative, focusLevel, inheritance, covariates, features, subjects, 
	gt.options, findFocus, getFocus, makeGOstructure)
